In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

In [213]:
train=pd.read_csv('/content/Mineral ores round the world.csv')

In [214]:
train.head(5)

,site_name,latitude,longitude,region,country,state,county,com_type,commod1,commod2,...,dep_type,prod_size,dev_stat,ore,gangue,work_type,names,ore_ctrl,hrock_type,arock_type
0,Lookout Prospect,55.05612,-132.14344,NaN,United States,Alaska,NaN,M,Copper,"Gold, Silver",...,NaN,N,Occurrence,"Chalcopyrite, Covellite, Pyrite","Quartz, Sericite",NaN,"Conundrum, Mammoth, Wakefield Minerals Co.",NaN,Schist,NaN
1,Lucky Find Prospect,55.52751,-132.68514,NaN,United States,Alaska,NaN,M,Copper,Gold,...,NaN,N,Occurrence,"Chalcopyrite, Pyrite","Calcite, Quartz, Siderite",Underground,NaN,Vein Follows Contact,Diabase,NaN
2,Mccullough Prospect,55.97751,-132.99906,NaN,United States,Alaska,NaN,M,Copper,NaN,...,NaN,N,Occurrence,"Chalcopyrite, Pyrite, Sphalerite",Quartz,NaN,"Claims: Horseshoe, Copper, Lake Bay",NaN,Siltstone,NaN
3,Lucky Jim Claim,55.52195,-132.68653,NaN,United States,Alaska,NaN,M,Gold,NaN,...,NaN,N,Occurrence,"Galena, Malachite, Pyrite",NaN,NaN,NaN,NaN,Granite,Granite
4,Matilda Occurrence,55.14556,-132.05233,NaN,United States,Alaska,NaN,M,Gold,NaN,...,NaN,N,Occurrence,Pyrite,NaN,NaN,NaN,NaN,Mica Schist,NaN

In [215]:
train = train[train['country'] =='India']

In [216]:
train = train[['latitude','longitude','commod1']]

In [217]:
train.head

<bound method NDFrame.head of         latitude  longitude                                     commod1
3891    22.88286   79.61656                                   Manganese
3892    21.76615   80.11701                                   Manganese
3893    21.88280   80.31701                                   Manganese
3894    21.95779   80.27534                                   Manganese
3895    21.79947   80.10867                                   Manganese
...          ...        ...                                         ...
303611   9.16738   76.50041  REE, Kyanite, Thorium, Zirconium, Titanium
303612   8.20077   77.33369   Thorium, Titanium, Zirconium, Garnet, REE
303623  21.13283   79.68365                                    Vanadium
303879  33.91525   78.41713                       Boron-Borates, Sulfur
304383  26.26578   94.74995                                      Nickel

[781 rows x 3 columns]>

In [218]:
train.replace(np.nan,0,inplace=True)

In [219]:
train.head()

      latitude  longitude    commod1
3891  22.88286   79.61656  Manganese
3892  21.76615   80.11701  Manganese
3893  21.88280   80.31701  Manganese
3894  21.95779   80.27534  Manganese
3895  21.79947   80.10867  Manganese

In [220]:
train['commod1'].unique()

array(['Manganese', 0, 'Aluminum', 'Gold', 'Copper', 'Iron',
       'Phosphorus-Phosphates', 'Copper, Uranium, Molybdenum',
       'Lead, Zinc', 'Tungsten', 'Kyanite', 'Chromium', 'Vanadium',
       'Nickel, Copper, Cobalt', 'Fluorine-Fluorite', 'Zinc, Lead',
       'Lead, Copper', 'Lead, Zinc, Copper', 'Lead, Zinc, Silver', 'Lead',
       'Titanium, Metal, Zirconium, REE, Garnet',
       'Titanium, Metal, REE, Zirconium', 'Titanium-Ilmenite',
       'Wollastonite', 'Silver, Gold', 'Zinc',
       'Aluminum, Contained or Metal', 'Chromium, Ferrochrome',
       'Magnesite', 'Thorium', 'REE', 'Zinc, Refiner', 'Titanium',
       'Graphite', 'Barium-Barite', 'Lead, Refiner', 'Nickel', 'PGE',
       'Titanium, Pigment', 'REE, Zirconium, Titanium',
       'Zinc, Copper, Lead', 'Iron, Titanium', 'Iron, Manganese',
       'Lithium', 'Titanium, Zirconium', 'Zirconium',
       'Titanium, Kyanite, Zirconium, REE, Thorium',
       'REE, Kyanite, Thorium, Zirconium, Titanium',
       'Thorium, Titanium, Zirconium, Garnet, REE',
       'Boron-Borates, Sulfur'], dtype=object)

In [221]:
train.commod1=train.commod1.map({
    'Manganese':1,'Aluminum':2,'Gold':3,'Copper':4,'Iron':5,
       'Phosphorus-Phosphates':6, 'Copper, Uranium, Molybdenum':7,
       'Lead, Zinc':8, 'Tungsten':9, 'Kyanite':10, 'Chromium':11, 'Vanadium':12,
       'Nickel, Copper, Cobalt':13, 'Fluorine-Fluorite':14, 'Zinc, Lead':15,
       'Lead, Copper':16, 'Lead, Zinc, Copper':17, 'Lead, Zinc, Silver':18, 'Lead':19,
       'Titanium, Metal, Zirconium, REE, Garnet':20,
       'Titanium, Metal, REE, Zirconium':21, 'Titanium-Ilmenite':22,
       'Wollastonite':23, 'Silver, Gold':24, 'Zinc':25,
       'Aluminum, Contained or Metal':26, 'Chromium, Ferrochrome':27,
       'Magnesite':28, 'Thorium':29, 'REE':30, 'Zinc, Refiner':31, 'Titanium':32,
       'Graphite':33, 'Barium-Barite':34, 'Lead, Refiner':35, 'Nickel':36, 'PGE':37,
       'Titanium, Pigment':38, 'REE, Zirconium, Titanium':39,
       'Zinc, Copper, Lead':40, 'Iron, Titanium':41, 'Iron, Manganese':42,
       'Lithium':43, 'Titanium, Zirconium':44, 'Zirconium':45,
       'Titanium, Kyanite, Zirconium, REE, Thorium':46,
       'REE, Kyanite, Thorium, Zirconium, Titanium':47,
       'Thorium, Titanium, Zirconium, Garnet, REE':48,
       'Boron-Borates, Sulfur':49})

In [222]:
train.commod1.head(10)

3891    1.0
3892    1.0
3893    1.0
3894    1.0
3895    1.0
3896    1.0
3897    1.0
3898    1.0
3899    1.0
3900    1.0
Name: commod1, dtype: float64

In [223]:
train.head(5)

      latitude  longitude  commod1
3891  22.88286   79.61656      1.0
3892  21.76615   80.11701      1.0
3893  21.88280   80.31701      1.0
3894  21.95779   80.27534      1.0
3895  21.79947   80.10867      1.0

In [224]:
train.isnull().sum()

latitude       0
longitude      0
commod1      390
dtype: int64

In [225]:
train.replace(np.nan,0,inplace=True)

In [226]:
train.isnull().sum()

latitude     0
longitude    0
commod1      0
dtype: int64

In [227]:
train['commod1'].unique()

array([ 1.,  0.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43., 44., 45., 46., 47., 48., 49.])

In [228]:
train.shape

(781, 3)

In [229]:
train.head()

      latitude  longitude  commod1
3891  22.88286   79.61656      1.0
3892  21.76615   80.11701      1.0
3893  21.88280   80.31701      1.0
3894  21.95779   80.27534      1.0
3895  21.79947   80.10867      1.0

In [309]:
train.shape

(781, 3)

In [398]:
X=train.iloc[:,:]
Y=train.iloc[:,-1:]

In [399]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [400]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [401]:
X_train

array([[ 0.25087652,  0.85459897, -0.51036279],
       [ 0.05385391,  1.02843145, -0.51036279],
       [ 0.31253819,  0.85280685, -0.39706988],
       ...,
       [-1.02172491, -0.63461875, -0.51036279],
       [ 0.09311729,  0.92947214,  0.73585926],
       [ 0.09824437,  0.93692737,  0.73585926]])

In [402]:
Y_train

        commod1
201783      0.0
225457      0.0
249472      1.0
303515     43.0
201421      0.0
...         ...
303363     33.0
106634     24.0
272633      0.0
249407     11.0
296202     11.0

[624 rows x 1 columns]

In [403]:
def model(X_train,Y_train):
  from sklearn.linear_model import LogisticRegression
  log=LogisticRegression(random_state=0)
  log.fit(X_train,Y_train)
  print("Accuracy",log.score(X_train,Y_train))
  return log

In [404]:
m=model(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy 0.6298076923076923

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,